@font-face {
  font-family: "Salva";
  src: url("/salva-font/SalvaTest-Regular-BF646442ce6caa7.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salva";
  src: url("/salva-font/SalvaTest-Medium-BF646442cead5fb.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salva";
  src: url("/salva-font/SalvaTest-Semibold-BF646442ce84909.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salva";
  src: url("/salva-font/SalvaTest-Extrabold-BF646442ce687ab.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salva";
  src: url("/salva-font/SalvaTest-Extrabold-BF646442ce687ab.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salva";
  src: url("/salva-font/SalvaTest-Black-BF646442ce799b5.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
